.row-product .product-image {
	height: 3.25em;
	width: auto;
}

.row-product td {
	padding-top: 0% !important;
	padding-bottom: 0 !important;
	vertical-align: middle !important;
}

@media (max-width: 990px) {
	.row-product .product-image {
		height: 2em;
	}
}
